body {
  margin: 0;
  max-width: 100%;
  font-family: 'DM Sans', sans-serif;
}

p {
  cursor: default;
}

header {
  width: 70%;
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  cursor: pointer;
}

header nav {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

header .tags__border:hover {
  background-color: #901C1C;
  border-color: transparent;
}

header .tags__border__text {
  cursor: pointer;
}

header .tags__border__text:hover {
  color: white;
}

header .linkMain {
  height: 100px;
  position: absolute;
  top: -50px;
  left: 45%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

header .linkMain a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 5% / 25%;
  font-weight: 700;
  background-color: #D3573C;
}

header .linkMain:hover {
  top: 8px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  position: absolute;
  top: 0;
  right: 3%;
  margin: 3% 0;
  color: #901C1C;
  font-size: 2.5em;
}

button {
  cursor: pointer;
  width: 9vw;
  padding: 1em 0;
  border: none;
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: #901C1C;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tags__border {
  display: inline;
  list-style-type: none;
  border-radius: 2.5vh;
  border: 0.1em solid lightgray;
  margin: 0 0.3vw;
  padding: 0.1vh;
}

.tags__border__text {
  cursor: default;
  text-decoration: none;
  padding: 0 0.3em;
  color: #901C1C;
}

.banner {
  width: 100%;
  max-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #FAFAFA;
  margin: 0 4%;
  padding: 3%;
}

.banner h1 {
  position: relative;
  color: #D3573C;
  margin: 0;
  right: auto;
}

.banner button:hover {
  background-color: #D3573C;
  color: black;
}

.banner__loca {
  color: #901C1C;
  font-size: 1em;
  font-weight: 500;
}

.banner__tagline {
  color: black;
}

.banner .tags {
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner__container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.banner__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.selectMenu {
  width: 100%;
  height: 6vh;
  margin: 1% 4% 3% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.selectMenu p {
  margin-right: 2em;
}

.selectMenu button {
  z-index: 2;
  padding: 0;
}

.selectMenu button ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0.3em;
  background-color: #901C1C;
}

.selectMenu button ul li:hover i:before {
  content: '\f106';
}

.selectMenu button ul li a {
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selectMenu button ul li a:hover {
  background-color: #D3573C;
  color: black;
}

.selectMenu button ul li ul {
  list-style-type: none;
  display: none;
}

.selectMenu button ul li ul li {
  position: relative;
}

.selectMenu button ul li ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 5%;
  height: 1px;
  width: 90%;
  background-color: white;
}

.selectMenu button ul li ul li:hover {
  background-color: #D3573C;
  color: black;
}

.selectMenu button:hover ul {
  display: block;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.photographerCard {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.photographerCard__link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.photographerCard__link__container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.photographerCard__link__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photographerCard__link__name {
  color: #D3573C;
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
}

.photographerCard__loca {
  color: #901C1C;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

.photographerCard__tagline {
  color: black;
  margin: 0.5em 0;
}

.photographerCard__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 0.3;
  margin: 0;
}

.mediaCard {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mediaCard__container {
  cursor: pointer;
  overflow: hidden;
  width: 480px;
  height: 400px;
}

.mediaCard__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mediaCard__title {
  color: #901C1C;
  font-size: 1.3em;
  width: 460px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.mediaCard .likes {
  cursor: pointer;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mediaCard .likes p {
  margin: 0;
  cursor: pointer;
}

.mediaCard .likes i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.additional {
  cursor: default;
  position: fixed;
  bottom: -5px;
  right: 1vw;
  width: 25vw;
  border-radius: 0.3em;
  background-color: #D3573C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.additional span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional span i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.5);
}

.closeModal {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 3%;
  width: 50px;
  height: 50px;
}

.closeModal:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  top: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.closeModal:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-modal {
  width: 50%;
  height: 85%;
  padding: 1% 2%;
  position: relative;
  left: 25%;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #D3573C;
}

.form-modal h1 {
  margin: 0;
  margin-bottom: 0.5em;
  position: relative;
  font-size: 4em;
  font-weight: 500;
}

.form-modal label {
  font-size: 2.5em;
}

.form-modal input {
  height: 5vh;
  font-size: 1.5em;
  border: none;
  border-radius: 0.3em;
}

.form-modal textarea {
  height: 20vh;
  margin-bottom: 2em;
  resize: none;
  border: none;
  border-radius: 0.3em;
}

.lightbox-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lightbox-modal__chevron {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lightbox-modal__chevron i {
  font-size: 3em;
}

.lightbox-modal__chevron i:before {
  color: #901C1C;
}

.lightbox-modal__container {
  width: 80%;
  height: 85%;
  margin: 0 2%;
  overflow: hidden;
}

.lightbox-modal__container__img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.lightbox-modal p {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  color: #901C1C;
  font-size: 1.3em;
  margin-top: 0;
}

.lightbox-modal .closeModal {
  right: 7%;
}

.lightbox-modal .closeModal:before, .lightbox-modal .closeModal:after {
  background-color: #901C1C;
}
/*# sourceMappingURL=main.css.map */