body {
  margin: 0;
  max-width: 100%;
  font-family: 'DM Sans', sans-serif;
}

header {
  width: 70%;
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  cursor: pointer;
}

header nav {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

header .linkMain {
  height: 100px;
  position: absolute;
  top: -50px;
  left: 45%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

header .linkMain a {
  color: black;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 5% / 25%;
  font-weight: 700;
  background-color: #D3573C;
}

header .linkMain:hover {
  top: 8px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  position: absolute;
  top: 0;
  right: 3%;
  margin: 3% 0;
  color: #901C1C;
  font-size: 2.5em;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tags__border {
  display: inline;
  list-style-type: none;
  border-radius: 2.5vh;
  border: 0.1em solid lightgray;
  margin: 0 0.3vw;
  padding: 0.1vh;
}

.tags__border__text {
  cursor: pointer;
  text-decoration: none;
  padding: 5px 3px;
  color: #901C1C;
}

.banner {
  width: 100%;
  max-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #FAFAFA;
  margin: 0 4%;
  padding: 3%;
}

.banner h1 {
  position: relative;
  color: #D3573C;
  margin: 0;
  right: auto;
}

.banner__loca {
  color: #901C1C;
  font-size: 1em;
  font-weight: 500;
}

.banner__tagline {
  color: black;
}

.banner .tags {
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner .contactBtn {
  color: white;
  border: none;
  border-radius: 0.3em;
  max-width: 18vh;
  font-size: 1em;
  font-weight: 500;
  background-color: #901C1C;
  padding: 1em 0;
}

.banner__container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.banner__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.selectMenu {
  width: 100%;
  margin: 1% 4% 3% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 500;
}

.selectMenu ul {
  width: 9em;
  height: 3em;
  border: none;
  border-radius: 0.4em;
  background-color: #901C1C;
  color: white;
}

.selectMenu ul li ul {
  display: none;
}

.selectMenu ul:hover ul {
  display: block;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.photographerCard {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.photographerCard__link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.photographerCard__link__container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.photographerCard__link__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photographerCard__link__name {
  color: #D3573C;
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
}

.photographerCard__loca {
  color: #901C1C;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

.photographerCard__tagline {
  color: black;
  margin: 0.5em 0;
}

.photographerCard__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 0.3;
  margin: 0;
}

.imgCard {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgCard__container {
  overflow: hidden;
  width: 460px;
  height: 400px;
}

.imgCard__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgCard__title {
  color: #901C1C;
  font-size: 1.3em;
  width: 460px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */