@charset "UTF-8";
body {
  margin: 0;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
}

p {
  cursor: default;
}

header {
  width: 75%;
  height: 18vh;
  display: flex;
  flex-flow: row;
  align-items: center;
}
@media (max-width: 480px) {
  header {
    width: 100%;
    flex-flow: row wrap;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header {
    width: 100%;
    flex-flow: row wrap;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  header {
    width: 100%;
    flex-flow: row wrap;
  }
}
@media (min-width: 1024px) and (max-width: 1480px) {
  header {
    width: 100%;
    height: auto;
    margin-bottom: 3%;
    flex-flow: row wrap;
  }
}
header .logo {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  flex: 20%;
  margin-left: 5%;
}
@media (max-width: 480px) {
  header .logo {
    flex: 100%;
    max-width: 50%;
    margin: 5%;
  }
  header .logo img {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .logo {
    max-width: 45%;
  }
  header .logo img {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  header .logo {
    max-width: 50%;
  }
}
header nav {
  flex: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (max-width: 480px) {
  header nav {
    flex: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header nav {
    flex: 80%;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  header nav {
    flex: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1480px) {
  header nav {
    flex: 100%;
  }
}
header .tags {
  padding: 0;
  margin: 0;
}
header .tags__border:hover {
  background-color: #901C1C;
  border-color: transparent;
}
header .tags__border__text {
  cursor: pointer;
}
header .tags__border__text:hover {
  color: white;
}
@media (max-width: 480px) {
  header .tags {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
  }
  header .tags li {
    margin-top: 2%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .tags {
    display: flex;
    flex-flow: row wrap;
  }
  header .tags li {
    margin-top: 2%;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  header .tags {
    display: flex;
    flex-flow: row wrap;
  }
}
header .linkMain {
  height: 100px;
  position: absolute;
  top: -50px;
  left: 45%;
  transition: top 0.5s;
}
header .linkMain a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 5%/25%;
  font-weight: 700;
  background-color: #D3573C;
}
header .linkMain:hover {
  top: 8px;
}
@media (max-width: 480px) {
  header .linkMain {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .linkMain {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  header .linkMain {
    display: none;
  }
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main h1 {
  font-size: 2.3em;
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 3%;
  margin: 3% 0;
  color: #901C1C;
}
@media (max-width: 480px) {
  main h1 {
    font-size: 0.8em;
    top: 5%;
    right: 5%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main h1 {
    font-size: 1.5em;
    margin: 5% 0;
  }
}
@media (max-width: 480px) {
  main {
    margin-top: 8vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main {
    margin-top: 8vh;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  main {
    margin-top: 5vh;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 480px) {
  .cards {
    margin-top: 5vh;
    flex-flow: column;
  }
}

button {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  width: 9vw;
  padding: 1em 0;
  border: none;
  border-radius: 0.3em;
  color: white;
  background-color: #901C1C;
}

*:focus {
  border: 2px dashed #901C1C;
}

.photographerCard {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 30%;
  z-index: 2;
}
.photographerCard__link {
  display: flex;
  flex-flow: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.photographerCard__link__container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.photographerCard__link__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photographerCard__link__name {
  font-size: 2.3em;
  font-weight: 300;
  color: #D3573C;
  margin: 0;
}
.photographerCard__loca {
  font-size: 1em;
  font-weight: 500;
  color: #901C1C;
  margin: 0;
}
.photographerCard__tagline {
  color: black;
  margin: 0.5em 0;
}
.photographerCard__price {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  margin: 0;
}
@media (max-width: 480px) {
  .photographerCard {
    padding-bottom: 5%;
  }
  .photographerCard ul {
    padding: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .photographerCard {
    flex-flow: column wrap;
    flex: 51%;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .photographerCard {
    flex: 50%;
  }
}
@media (min-width: 1024px) and (max-width: 1480px) {
  .photographerCard {
    flex: 50%;
  }
}

.tags {
  display: flex;
  justify-content: space-evenly;
}
.tags__border {
  display: inline;
  list-style-type: none;
  border-radius: 2.5vh;
  border: 0.1em solid lightgray;
  margin: 0 0.3vw;
  padding: 0.1vh;
}
.tags__border__text {
  cursor: default;
  text-decoration: none;
  padding: 0 0.3em;
  color: #901C1C;
}

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  background-color: #FAFAFA;
  margin: 0 4%;
  padding: 3%;
}
.banner h1 {
  position: relative;
  color: #D3573C;
  margin: 0;
  right: auto;
  flex: 25%;
}
.banner button {
  position: absolute;
  align-self: center;
}
.banner button:hover {
  background-color: #D3573C;
  color: black;
}
.banner__loca {
  font-size: 1em;
  font-weight: 500;
  color: #901C1C;
  flex: 25%;
}
.banner__tagline {
  color: black;
  font-size: 0.8em;
  font-weight: 400;
  flex: 25%;
}
.banner .tags {
  padding: 0;
  justify-content: flex-start;
  flex: 25%;
}
.banner__container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  align-self: flex-end;
  position: absolute;
}
.banner__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .banner {
    background-color: transparent;
  }
  .banner h1 {
    font-size: 2.5em;
    white-space: pre-line;
    max-width: 70%;
  }
  .banner button {
    position: fixed;
    z-index: 2;
    width: auto;
    padding: 0.5em 1em;
    bottom: 2vh;
    left: 30vw;
  }
  .banner__loca {
    font-size: 0.8em;
  }
  .banner__tagline {
    margin: 0;
    white-space: pre-line;
    max-width: 70%;
  }
  .banner__container {
    width: 100px;
    height: 100px;
    position: absolute;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .banner {
    margin-bottom: 5vh;
  }
  .banner button {
    position: fixed;
    z-index: 2;
    width: auto;
    padding: 0.5em 1em;
    top: 95vh;
    left: 40%;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .banner {
    margin-bottom: 2vh;
  }
  .banner button {
    width: 18vw;
  }
}
@media (min-width: 1024px) and (max-width: 1480px) {
  .banner__tagline {
    margin: 0;
    white-space: pre-line;
    max-width: 70%;
  }
  .banner button {
    width: 18vw;
  }
}

.additional {
  cursor: default;
  position: fixed;
  bottom: -5px;
  right: 1vw;
  width: 25vw;
  border-radius: 0.3em;
  background-color: #D3573C;
  display: flex;
  justify-content: space-around;
}
.additional span {
  display: flex;
}
.additional span i {
  align-self: center;
}
@media (max-width: 480px) {
  .additional {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .additional {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .additional {
    display: none;
  }
}

.mediaCard {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 30%;
}
.mediaCard__container {
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.3em;
  box-shadow: 3px 1px 1px rgba(82, 82, 82, 0.1);
  width: 480px;
  height: 400px;
}
.mediaCard__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mediaCard__container:focus {
  border: 3px solid #901C1C;
}
.mediaCard__title {
  color: #901C1C;
  font-size: 1.3em;
  width: 460px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.mediaCard .likes {
  cursor: pointer;
  display: flex;
}
.mediaCard .likes p {
  margin: 0;
  cursor: pointer;
}
.mediaCard .likes i {
  align-self: center;
}
@media (max-width: 480px) {
  .mediaCard__container {
    width: 320px;
    height: 200px;
    border-radius: 0.3em;
  }
  .mediaCard__title {
    width: 90vw;
    font-size: 1em;
  }
}
@media (min-width: 1024px) and (max-width: 1480px) {
  .mediaCard__container {
    width: 28vw;
  }
}

.selectMenu {
  width: 100%;
  height: 6vh;
  margin: 1% 4% 3% 4%;
  display: flex;
  font-weight: 700;
}
.selectMenu p {
  margin-right: 2em;
}
.selectMenu button {
  z-index: 2;
  padding: 0;
}
.selectMenu button ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0.3em;
  background-color: #901C1C;
}
.selectMenu button ul li:hover i:before, .selectMenu button ul li:focus i:before {
  content: "";
}
.selectMenu button ul li:hover ul, .selectMenu button ul li:focus ul {
  display: block;
}
.selectMenu button ul li a {
  padding: 1.2em;
  display: flex;
  justify-content: space-between;
}
.selectMenu button ul li a:hover {
  background-color: #D3573C;
  color: black;
}
.selectMenu button ul li ul {
  list-style-type: none;
  display: none;
}
.selectMenu button ul li ul li {
  position: relative;
}
.selectMenu button ul li ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  height: 1px;
  width: 90%;
  background-color: white;
}
.selectMenu button ul li ul li:hover {
  background-color: #D3573C;
  color: black;
}
@media (max-width: 480px) {
  .selectMenu {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .selectMenu {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .selectMenu {
    display: none;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.5);
}

.closeModal {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 3%;
  width: 50px;
  height: 50px;
}
.closeModal:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  top: 45%;
  transform: rotate(45deg);
}
.closeModal:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  top: 45%;
  transform: rotate(-45deg);
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

.form-modal {
  width: 50%;
  height: 800px;
  padding: 1% 2%;
  position: relative;
  left: 25%;
  top: 5%;
  display: flex;
  flex-flow: column;
  background-color: #D3573C;
}
.form-modal h1 {
  margin: 0;
  margin-bottom: 0.5em;
  position: relative;
  font-size: 4em;
  font-weight: 500;
}
.form-modal label {
  font-size: 2.5em;
}
.form-modal input {
  height: 5vh;
  font-size: 1.5em;
  border: none;
  border-radius: 0.3em;
}
.form-modal textarea {
  height: 20vh;
  margin-bottom: 2em;
  font-size: 1.5em;
  border-radius: 0.3em;
  border: none;
  resize: none;
}
@media (max-width: 480px) {
  .form-modal {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 5%;
  }
  .form-modal h1 {
    font-size: 2.2em;
    margin: 5% 0;
  }
  .form-modal label {
    font-size: 1.2em;
    margin: 2% 0;
  }
  .form-modal input {
    max-width: 90%;
    margin-bottom: 5%;
  }
  .form-modal textarea {
    max-width: 90%;
  }
  .form-modal button {
    width: 50%;
    margin: 0 20%;
    padding: 0.5em 3em;
  }
  .form-modal .closeModal {
    height: 25px;
    width: 25px;
    top: 3%;
    right: 13%;
  }
  .form-modal .closeModal:before, .form-modal .closeModal:after {
    height: 3px;
  }
}
.lightbox-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.lightbox-modal__chevron {
  cursor: pointer;
  align-self: center;
}
.lightbox-modal__chevron i {
  font-size: 3em;
}
.lightbox-modal__chevron i:before {
  color: #901C1C;
}
.lightbox-modal__container {
  width: 800px;
  height: 800px;
  margin: 3%;
  overflow: hidden;
  border-radius: 0.3em;
  box-shadow: 5px 1px 1px rgba(82, 82, 82, 0.5);
  border-radius: 0.3em;
}
.lightbox-modal__container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.lightbox-modal__title {
  flex-basis: 60%;
  color: #901C1C;
  font-size: 1.3em;
  margin-top: 0;
  padding-left: 18%;
}
.lightbox-modal .closeModal:before, .lightbox-modal .closeModal:after {
  background-color: #901C1C;
}
@media (max-width: 480px) {
  .lightbox-modal__chevron {
    padding-top: 50%;
  }
  .lightbox-modal__chevron i {
    font-size: 1em;
  }
  .lightbox-modal__container {
    width: 280px;
    height: 280px;
    align-self: end;
  }
  .lightbox-modal__title {
    flex: 78%;
    align-self: start;
    padding: 0;
  }
  .lightbox-modal .closeModal {
    height: 20px;
    width: 20px;
  }
  .lightbox-modal .closeModal:before, .lightbox-modal .closeModal:after {
    height: 2px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .lightbox-modal__container {
    width: 360px;
    height: 360px;
  }
  .lightbox-modal__title {
    margin: 0;
    flex-basis: 78%;
    padding-left: 0;
    align-self: flex-start;
  }
  .lightbox-modal .closeModal {
    top: 11%;
    right: 3%;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .lightbox-modal__container {
    width: 600px;
    height: 600px;
  }
  .lightbox-modal__title {
    margin: 0;
    flex-basis: 78%;
    padding-left: 0;
    align-self: flex-start;
  }
}
@media (min-width: 1024px) and (max-width: 1480px) {
  .lightbox-modal__container {
    width: 720px;
    height: 720px;
  }
  .lightbox-modal__title {
    margin: 0;
    flex-basis: 67%;
    padding-left: 0;
    align-self: flex-start;
  }
}/*# sourceMappingURL=main.css.map */