
body {
    margin: 0;
    max-width: 100%;
    font-family: 'DM Sans', sans-serif;
}

p{
    cursor: default;
}

header {
    width: 75%;
    height: 18vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    
    @include phone-only {
        width: 100%;
        height: 100%;
        flex-flow: row wrap;
    }
    
    @include phone-tablet {
    }

    .logo {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        flex: 20%;
        margin-left: 5%;

        @include phone-only {
            flex: 100%;
            max-width: 50%;
            margin: 5%;
            img{
                width: 100%;
            }
        }
    }

    nav {
        flex: 60%;
    }

    .tags{
        padding: 0;
        &__border {
            &:hover{
                background-color: $color-primary;
                border-color: transparent;
            }
            &__text {
            cursor: pointer;
                &:hover{
                    color: white;
                }
            }   
        }
        @include phone-only {
            max-width: 100%;
            display: flex;
            flex-flow: row wrap;
            padding: 0;
            margin: 0 10%;

            li{
                margin-top: 2%;
            }
        }
    }
    
    .linkMain {
        height: 100px;
        position: absolute;
        top: -50px;
        left: 45%;
        transition: top 0.5s;
        
        a {
            cursor: pointer;
            color: black;
            text-decoration: none;
            padding: 0.2em 0.4em;
            border-radius: 5% / 25%;
            font-weight: 700;
            background-color: $color-secondary;
        }

        &:hover {
            top: 8px;
        }
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    h1 {
        @include font-title;
        position: absolute;
        top: 0;
        right: 3%;
        margin: 3% 0;
        color: $color-primary;
        @include phone-only {
            font-size: 0.8em;
            top: 5%;
            right: 5%;
        }
    }
}

// cards
.cards {
    display: flex;
    flex-flow: row wrap;
    @include phone-only {
        margin-top: 5vh;
        flex-flow: column;
    }
}

button {
    @include font-medium;
    cursor: pointer;
    width: 9vw;
    padding: 1em 0;
    border: none;
    border-radius: 0.3em;
    color: white;
    background-color: $color-primary;
}