
@mixin flex-card-desktop {
    display: flex;
    flex-flow: column;
    align-items: center;
}

@mixin close-modal-element {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: white;
    top: 45%;
}

@mixin font-title {
    font-size: 2.5em;
    font-weight: 300;
}

@mixin font-medium {
    font-size: 1em;
    font-weight: 500;
}

@mixin phone-only {
    @media (max-width: 480px) {@content;}
}


@mixin phone-tablet {
    @media (min-width: 481px) {@content;}
}

@mixin laptop {
    @media (min-width: 769px) {@content;}
}

@mixin desktop {
    @media(min-width: 1025px) {@content;}
}