.banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: $color-lightgrey;
    margin: 0 4%;
    padding: 3%;
    
    h1 {
        position: relative;
        color: $color-secondary;
        margin: 0;
        right: auto;
        flex: 25%;

    }
    
    button{
        position: absolute;
        align-self: center;
        &:hover{
            background-color: $color-secondary;
            color: black;
        }
    }
    
    &__loca {
        @include font-medium;
        color: $color-primary;
        flex: 25%;
    }

    &__tagline {
        color: black;
        font-size: 0.8em;
        font-weight: 400;
        flex: 25%;
    }

    .tags {
        padding: 0;
        justify-content: flex-start;
        flex: 25%;
    }

    &__container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        align-self: flex-end;
        position: absolute;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }

    @include phone-only {
        background-color: transparent;
        
        h1 {
            font-size: 2.5em;
            white-space: pre-line;
            max-width: 70%;
        }

        button {
            position: fixed;
            z-index: 2;
            width: auto;
            padding: 0.5em 1em;
            bottom: 2vh;
            left: 30vw;
        }

        &__loca{
            font-size: 0.8em;
        }

        &__tagline {
            margin: 0;
            white-space: pre-line;
            max-width: 70%;
        }

        &__container {
            width: 100px;
            height: 100px;
            position: absolute;
        }

    }    
    
    @include phone-tablet{
        margin-bottom: 5vh;
        
        button{
            position: fixed;
            z-index: 2;
            width: auto;
            padding: 0.5em 1em;
            top: 95vh;
            left: 40%;
        }
    }

    @include tablet-laptop {
        margin-bottom: 2vh;

        button {
            width: 18vw;
        }
    }

    @include laptop {

        &__tagline {
            margin: 0;
            white-space: pre-line;
            max-width: 70%;
        }

        button{
            width: 18vw;
        }
    }
}

//additional infos in perso page 

.additional {
    cursor: default;
    position: fixed;
    bottom: -5px;
    right: 1vw;
    width: 25vw;
    border-radius: 0.3em;
    background-color: $color-secondary;
    display: inline-flex;
    justify-content: space-around;
    
    span {
        display: inline-flex;
        align-self: center;
    }

    @include phone-only {
        display: none;
    }

    @include phone-tablet {
        display: none;
    }

    @include tablet-laptop {
        display: none;
    }
}